@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');


:root {
  --principal-text : #4F4F4F;
  --secundary-text : #828282;
  --other-text : #333333;
  --grar-smooth-text: #E0E0E0;

  --blue : #2F80ED;
  --background : #F2F2F2;
  --white : #FFFFFF;
  --gray : #C4C4C4;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  padding: 0 42px;
  background-color: var(--background);
}

.top {
  max-width: 1045px;
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
}
.profile-card {
  display: flex;
  justify-content: space-between;
  gap: 33.57px;
  height: 100%;
  max-width: 1046px;
  width: 100%;
  border-radius: 12px;
  padding: 22px 20.43px 22.86px 25.54px;
  background-color: var(--white);
  margin: 0 auto;
  transition: 1s;
}
.img-profile-div {
  max-height: 266.14px;
  height: 100%;
}
.image-profile {
  max-width: 271.86px;
  width: 100%;
  border-radius: 12px;
}
.profile-right {
  max-width: 693.76px;
  width: 100%;
}
.profile-tight-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}
.name {
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  color: var(--principal-text);
}
.dev {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: var(--secundary-text);
  margin-top: 6.27px;
}
.icon {
  width: 20px;
}
.email , .phone {
  display: flex;
  gap: 18.82px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: var(--principal-text);
}
.email {
  margin-bottom: 10.46px;
}
.introducing {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: var(--secundary-text);
  max-width: 658.8px;
}
.int-two {
  margin-top: 21.94px;
}


.mid {
  max-width: 1045px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 34.98px;
  margin: 42px auto 42px auto;
}
.mid-left {
  display: flex;
  gap: 42px;
  flex-direction: column;
}
.frontend-card {
  height: 100%;
  max-width: 415.02px;
  width: 100%;
  padding: 23.47px 23.47px 25.61px ;
  border-radius: 12px;
  background-color: var(--white);
}
h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.94px;
  color: var(--principal-text);
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20.27px;
  margin-top: 17.07px ;
}
.technologys {
  display: flex;
  flex-direction: column;
  gap: 17.07px;
}
.tech {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: var(--principal-text);
}
.level {
  display: flex;
  flex-direction: column;
  gap: 27.2px;
  margin-top: 0px;
}
.levels {
  height: 9.6px;
  width: 236.86px;
  border-radius: 12px;
  background-color: var(--gray);
}
.level-skill {
  height: 9.6px;
  width: 92%;
  border-radius: 12px;
  background-color: var(--blue);
}
.one , .four {
  width: 65%;
}
.two , .five {
  width: 83%;
}



.mid-right {
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.blog {
  padding: 31px 0 32px 20px;
  border-radius: 12px;
  background-color: var(--white);
}
.blog-top {
  display: flex;
  justify-content: space-between;
  gap: 39px;
  margin-bottom: 50px;
}
.blog-span {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: var(--grar-smooth-text);
}
.h3-blog {
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  color: var(--other-text);
  max-width: 136px;
  margin-top: 21px;
}
.blog-img {
  max-height: 321px;
  height: 100%;
  max-width: 359px;
  width: 100%;
  border-radius: 12px 0 0 12px;
  margin-top: 16px;
}
.blog-description{
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  max-width: 492px;
  color: var(--secundary-text);
}
.blogdes-two {
  margin: 19.5px 0 66px;
}
.blog-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: var(--blue);
  cursor: pointer;
}

.expeciences {
  border-radius: 12px;
  padding: 17px 31.23px 38px 31.23px;
  background-color: var(--white);
}
.h3-experiences {
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  color: var(--other-text);
  margin-bottom: 44px;
}
.exp {
  display: flex;
  gap: 22.71px;
}
.xp-two {
  margin-top: 55.5px;
}
.exp-img {
  height: 84px;
  width: 119.25px;
}

.date {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: var(--secundary-text);
}
.job {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  color: var(--other-text);
  margin: 12px 0 33px;
}
.job-desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  max-width: 387.57px;
  color: var(--secundary-text);
}



.hobbies {
  display: flex;
  flex-direction: column;
  padding: 22px 23px 36px 22px;
  background-color: var(--white);
  border-radius: 12px;
}
.h3-hobbies {
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  color: var(--principal-text);
  margin-bottom: 26px;
}
.hobbie {
  display: flex;
  flex-direction: column;
}
.h-m {
  margin: 36px 0;
}
.hob-img {
  max-height: 139px;
  height: 100%;
  max-width: 370px;
  width: 100% ;
  border-radius: 12px;
}
.hob-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  color: var(--other-text);
  margin: 26px 0 10px;
}
.hob-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: var(--secundary-text);
}



.bot {
  max-width: 1045px;
  width: 100%;
  margin: 0 auto 147px;
}
.projects {
  padding: 22px;
  border-radius: 12px;
  background-color: var(--white);
}
.h3-projects {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: var(--principal-text);
  margin-bottom: 24px;
}
.tech-section {
  display: flex;
  gap: 16px;
}
.whit {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  padding: 8px 22px;
  border: 1px solid var(--principal-text);
  border-radius: 12px;
  cursor: pointer;
}
.whit:hover , 
.whit:focus{
  transition: 0.3s;
  color: var(--white);
  border-color: var(--blue);
  background-color: var(--blue);
}


.card-projects {
  display: flex;
  justify-content: space-between;
  margin: 36px 0;
}
.card {
  border-radius: 12px;
  background-color: var(--white);
  padding: 18px 18.49px 33px;
}
.img-project {
  max-width: 292px;
  width: 100%;
  border-radius: 12px;
}
.tags {
  display: flex;
  gap: 9px;
  margin: 24px 0 22px 0;
}
.tag {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: var(--principal-text);
}
.card-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  max-width: 292px;
  color: var(--secundary-text);
  margin: 18px 0 54px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.card-button {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px; 
  text-decoration: none;
  padding: 12px 35px;
  border-radius: 12px;
}
.cd-blue {
  color: var(--white);
  background-color: var(--blue);
}
.cd-white {
  border: 1px solid var(--blue);
  color: var(--blue);
}

.page-div {
  display: flex;
  gap: 12px;
  justify-content: end;
}
.page {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  color: var(--principal-text);
  padding: 10px 14px 10px 13px;
  border: 1px solid var(--principal-text);
  border-radius: 4px;
}
.page:hover {
  color: var(--white);
  background-color: var(--blue);
  border: 1px solid var(--blue);
}
.page-ten {
  padding: 10px;
}

.created {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: var(--secundary-text);
  margin-bottom: 24px;
}
.iam {
  font-weight: 700;
  text-decoration: none;
  color: var(--secundary-text);
}






@media screen and (max-width: 1099px) {
  body {
    padding: 0 20px;
  }

  /* ----------top------------- */
  .top {
    max-width: 660px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
  }
  .profile-card {
    gap: 20px;
    max-width: 660px;
    padding: 20px;
    transition: 1s;
  }
  .image-profile {
    max-width: 150px;
  }
  .profile-right {
    max-width: 450px;
  }
  .profile-tight-top {
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .name {
    font-size: 20px;
    line-height: normal;
  }
  .dev {
    font-size: 14px;
    line-height: normal;
    margin-top: 0px;
  }
  .icon {
    width: 16px;
  }
  .email , .phone {
    display: flex;
    gap: 10px;
    font-size: 14px;
    line-height: normal;
  }
  .email {
    margin-bottom: 5px;
  }
  .introducing {
    font-size: 14px;
    line-height: normal;
    max-width: 450px;
  }
  .int-two {
    margin-top: 10px;
  }



/* ----------mid------------- */
  .mid {
    max-width: 660px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px auto;
  }

  /* -----mid left-----*/
  .mid-left {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .frontend-card {
    max-height: 233px;
    height: 100%;
    max-width: 415.02px;
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--white);
  }
  h2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 21.94px;
    color: var(--principal-text);
  }
  .skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 17.07px ;
  }
  .technologys {
    gap: 13px;
  }
  .tech {
    font-size: 12px;
    line-height: normal;
  }
  .level {
    display: flex;
    flex-direction: column;
    gap: 19px;
    /* margin-top: 10px; */
  }
  .levels {
    height: 9.6px;
    width: 120px;
    border-radius: 12px;
    background-color: var(--gray);
  }
  .level-skill {
    height: 9.6px;
    width: 92%;
    border-radius: 12px;
    background-color: var(--blue);
  }
  .one , .four {
    width: 65%;
  }
  .two , .five {
    width: 83%;
  }


  .hobbies {
    padding: 20px;
  }
  .h3-hobbies {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 22px;
  }
  .h-m {
    margin: 25px 0;
  }
  .hob-title {
    font-size: 14px;
    line-height: normal;
    margin: 15px 0 8.6px;
  }
  .hob-description {
    font-size: 12px;
    line-height: normal;
  }

  
  /* -----mid rigth-----*/
  .mid-right {
    gap: 20px;
  }
  .blog {
    padding: 20px 0 20px 20px;
  }
  .blog-top {
    gap: 20px;
    margin-bottom: 30px;
  }
  .blog-span {
    font-size: 12px;
    line-height: normal;
  }
  .h3-blog {
    font-size: 20px;
    line-height: normal;
    max-width: 136px;
    margin-top: 17px;
  }
  .blog-img {
    max-width: 180px;
    width: 100%;
    margin-top: 12px;
  }
  .blog-description{
    font-size: 12px;
    line-height: normal;
    max-width: 320px;
  }
  .blogdes-two {
    margin: 15px 0 40px;
  }
  .blog-link {
    font-size: 12px;
  }
  
  .expeciences {
    padding: 20px;
  }
  .h3-experiences {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 30px;
  }
  .exp {
    display: flex;
    gap: 20px;
  }
  .xp-two {
    margin-top: 25px;
  }
  .exp-img {
    height: auto;
    width: 85px;
  }
  
  .date {
    font-size: 12px;
    line-height: normal;
  }
  .job {
    font-size: 12px;
    margin: 5px 0 15px;
  }
  .job-desc {
    font-size: 12px;
  }
  






  /* bot */

  .bot {
    max-width: 660px;
    width: 100%;
    margin: 0 auto 100px;
  }
  .projects {
    padding: 20px;
  }
  .h3-projects {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 18px;
  }
  .tech-section {
    gap: 12px;
  }
  .whit {
    font-size: 10px;
    padding: 5px 15px;
    border-radius: 7px;
  }

  .card-projects {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  .card {
    border-radius: 12px;
    padding: 18px 18.49px 33px;
  }
  .img-project {
    max-width: 150px;
    width: 100%;
    border-radius: 12px;
  }
  .tags {
    display: flex;
    gap: 5px;
    margin: 5px 0 5px 0;
  }
  .tag {
    font-size: 9px;
  }
  .card-text {
    font-size: 10px;
    max-width: 150px;
    margin: 15px 0 30px;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  .card-button {
    font-size: 10px;
    padding: 5px 15px;
    border-radius: 12px;
  }

  .page-div {
    display: flex;
    gap: 12px;
    justify-content: end;
  }
  .page {
    font-size: 10px;
    padding: 10px;
    border: 1px solid var(--principal-text);
    border-radius: 4px;
  }
  .page:hover {
    color: var(--white);
    background-color: var(--blue);
    border: 1px solid var(--blue);
  }
}