@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');


:root {
  --principal-text : #4F4F4F;
  --secundary-text : #828282;
  --other-text : #333333;
  --grar-smooth-text: #E0E0E0;

  --blue : #2F80ED;
  --background : #F2F2F2;
  --white : #FFFFFF;
  --gray : #C4C4C4;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  padding: 0 42px;
  background-color: var(--background);
}

.top {
  max-width: 1045px;
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
}
.profile-card {
  display: flex;
  gap: 33.57px;
  height: 100%;
  max-width: 1046px;
  width: 100%;
  border-radius: 12px;
  padding: 23px 23px 23px 23px;
  background-color: var(--white);
  margin: 0 auto;
}
.image-profile {
  max-width: 271.86px;
  width: 100%;
  border-radius: 12px;
}
.profile-tight-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;
}
.name {
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  color: var(--principal-text);
}
.dev {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: var(--secundary-text);
  margin-top: 6.27px;
}

.icon {
  width: 20px;
}
.email , .phone {
  display: flex;
  gap: 18.82px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: var(--principal-text);
}
.email {
  margin-bottom: 10.46px;
}
.introducing {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: var(--secundary-text);
  max-width: 658.8px;
}
.int-two {
  margin-top: 21.94px;
}


.mid {
  max-width: 1045px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 34.98px;
  margin: 0 auto 42px auto;
  padding-top: 42px;
}
.mid-left {
  display: flex;
  flex-direction: column;
}
.frontend-card {
  height: 100%;
  max-width: 415.02px;
  width: 100%;
  padding: 23px 23px 25.61px 23px;
  border-radius: 12px;
  background-color: var(--white);
}
h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.94px;
  color: var(--principal-text);
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20.27px;
  margin-top: 17.07px ;
}
.technologys {
  display: flex;
  flex-direction: column;
  gap: 17.07px;
}
.tech {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: var(--principal-text);
}
.level {
  display: flex;
  flex-direction: column;
  gap: 27.5px;
  margin-top: 0.4px;
}
.levels {
  height: 9.6px;
  width: 236.86px;
  border-radius: 12px;
  background-color: var(--gray);
}
.level-skill {
  height: 9.6px;
  width: 92%;
  border-radius: 12px;
  background-color: var(--blue);
}
.one , .four {
  width: 65%;
}
.two , .five {
  width: 83%;
}



.mid-right {
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.blog {
  padding: 31px 0 32px 20px;
  border-radius: 12px;
  background-color: var(--white);
}
.blog-top {
  display: flex;
  justify-content: space-between;
  gap: 39px;
  margin-bottom: 50px;
}
.blog-span {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: var(--grar-smooth-text);
}
.h3-blog {
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  color: var(--other-text);
  max-width: 136px;
  margin-top: 21px;
}
.blog-img {
  max-height: 321px;
  max-width: 396px;
  border-radius: 12px 0 0 12px;
  margin-top: 16px;
}
.blog-description{
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  max-width: 492px;
  color: var(--secundary-text);
}
.blogdes-two {
  margin: 19.5px 0 66px;
}
.blog-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: var(--blue);
  cursor: pointer;
}

.expeciences {
  border-radius: 12px;
  padding: 17px 31.23px 33px 31.23px;
  background-color: var(--white);
}
.h3-experiences {
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  color: var(--other-text);
  margin-bottom: 44px;
}
.exp {
  display: flex;
  gap: 22.71px;
}
.xp-two {
  margin-top: 36px;
}
.exp-img {
  height: 84px;
  width: 119.25px;
}

.date {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: var(--secundary-text);
}
.job {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  color: var(--other-text);
  margin: 12px 0 33px;
}
.job-desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  max-width: 387.57px;
  color: var(--secundary-text);
}



.bot {
  max-width: 1045px;
  width: 100%;

  margin: 0 auto;
}


@media screen and (max-width: 996px) {
  
}